.register-container {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register-input input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 13px;
  background: #fff;
}

.register-btn {
  width: 100px;
  background: #2fc877;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 40px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 5px;
}

.register-btn:hover {
  background: #52ba7e;
}
